body {
    background-color: aliceblue;
    font-family: cursive;
}

.container {
    font-family: cursive;
    text-align: center;
}

#options {
    font-size: 18px;
    font-family: cursive;
    color: rebeccapurple;
}

ul {
    text-align: center;
    padding: 20px;
    margin: 10px;
}